In [11]:
# Q1. Create a python program to sort the given list of tuples based on integer value using a
# lambda function.
A = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [44]:
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Sort the list based on the integer value using a lambda function
sorted_players = sorted(players, key=lambda x: x[1])

print(sorted_players)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [14]:
# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
# lambda and map functions.
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
list(map(lambda x : x**2   , l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
# lambda functions
l3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# l4 = ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [17]:
tuple(map(lambda x : str(x) , l3 ))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [23]:
# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
# filter function.
list_1=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [24]:
list(filter(lambda x : x%2 == 0 and x%3==0 , list_1))

[6, 60, 90, 120]

In [28]:
# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
# function.
list_2=['python', 'php', 'aba', 'radar', 'level']

In [29]:
test_1 = list(filter(lambda x : x == x[::-1] , list_2))

In [30]:
print(test_1)

['php', 'aba', 'radar', 'level']

In [ ]:
Q.4 Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [42]:
chetan_12=list(range(1,26))

In [43]:
test_3 = reduce(lambda x , y : x * y , chetan_12)
print(test_3)

15511210043330985984000000

In [35]:
from functools import reduce